h1 {
	color:#566573;
	font-family: 'Pacifico', cursive;
	margin-top:10%;
}

div {
	color: #17202a;
	font-family: 'Courgette', cursive;
	margin-left: 40%;
	margin-right:40%;
	margin-top:10%;
}

body {
	background:#eaecee;
}

